
/* @media (min-width:600px){
    body{
        background: navajowhite;
        color: white;
    }
} */
/* @media all and (min-width:600px){ */
    /* body{
        background: navajowhite;
        color: white;
    } */
/* } */

h1{
    border: 2px solid black;
    padding: 20px;
}
/* 
@media all and(orientation:landscape){
    h1{
        font-size: 80px;
    }
} */
/* @media all and(orientation:portrait){
    h1{
        font-size: 30px;
    }
} */

img{
    width: 200px;
}

@media(min-width:600px) and (max-width:900px){
    img{
        display: none;
    }
    p{
       column-count: 2;
    }
}


   